.desktop {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  background-color: #1a1a1a;
}

.desktop .rectangle {
  position: absolute;
  top: 20px;
  left: 553px;
  width: 335px;
  height: 485px;
  background-color: #0a6e82;
}

.desktop .name {
  position: absolute;
  top: 541px;
  left: 38px;
  width: 475px;
  height: 423px;
}

.desktop .can {
  position: absolute;
  top: 0;
  left: 6px;
  font-family: "Gilroy-Bold-Regular", Helvetica;
  font-weight: 400;
  color: #ff7214;
  font-size: 200px;
  line-height: normal;
}

.desktop .text-wrapper {
  letter-spacing: -8.00px;
}

.desktop .span {
  letter-spacing: -20.00px;
}

.desktop .text-wrapper-2 {
  letter-spacing: 0;
}

.desktop .ersoy {
  position: absolute;
  top: 175px;
  left: 0;
  font-family: "Gilroy-Bold-Regular", Helvetica;
  font-weight: 400;
  color: #ff7214;
  font-size: 200px;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  letter-spacing: -4.00px;
}

.desktop .text-wrapper-4 {
  letter-spacing: -16.00px;
}

.desktop .herceptin {
  position: absolute;
  top: 20px;
  left: 908px;
  width: 512px;
  height: 485px;
}

.desktop .purenest {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 513px;
  height: 485px;
}

.desktop .erkosan {
  position: absolute;
  top: 525px;
  left: 553px;
  width: 512px;
  height: 430px;
}

.desktop .contact {
  position: absolute;
  top: 976px;
  left: 1188px;
  width: 210px;
  height: 28px;
}

.desktop .berlin-based-art {
  position: absolute;
  top: 975px;
  left: 49px;
  font-family: "Gilroy-Regular-☞", Helvetica;
  font-weight: 400;
  color: #d9d9d9;
  font-size: 25px;
  letter-spacing: -0.50px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .profile-photo {
  position: absolute;
  top: 525px;
  left: 1085px;
  width: 335px;
  height: 430px;
  aspect-ratio: 0.78;
  object-fit: cover;
}
